
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {margin:0;padding:0;list-style:none;}
.sf-menu {line-height:1.0;}
.sf-menu ul {position:absolute;top:-999em;width:195px; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {width:100%;}
.sf-menu li:hover {visibility:inherit; /* fixes IE7 'sticky bug' */}
.sf-menu li {float:left;position:relative;}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
left:7px;
top:40px; /* match top ul list item height */
z-index:0;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
top:-999em;
z-index:0;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
left:205px; /* match ul width */
top:-4px;
z-index:0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
top:-999em;
z-index:0;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
left:225px; /* match ul width */
top:0;
z-index:0;

}

/*** DEMO SKIN ***/
.sf-menu {
float:left;
margin-bottom:1em;
z-index:0;
}
.sf-menu a {
    /*
padding: .75em 1em;
text-decoration:none;*/
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
outline:0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
padding-right: 2.25em;
min-width:1px; /* trigger IE7 hasLayout so spans position accurately */
z-index:0;
}

.sf-sub-indicator {
position:absolute;
display:block;
right:.75em;
top:1.05em; /* IE6 only */
width:10px;
height:10px;
text-indent: -999em;
overflow:hidden;
background:url(../images/arrows-ffffff.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
top:.8em;
background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
background:url(submenu-top.gif/submenu-top.gif) no-repeat  55px 0;
padding: 8px 0px 0px 0;
/*-moz-border-radius-bottomleft: 17px;
-moz-border-radius-topright: 17px;
-webkit-border-top-right-radius: 17px;
-webkit-border-bottom-left-radius: 17px;*/
}
.sf-shadow ul.sf-shadow-off {
background: transparent;
}

/*LEVEL I Horizontal*/
.sf-menu li {background:url(../images/menu-selector.jpg) no-repeat bottom left;}
    .sf-menu li a, .sf-menu li a:visited {    display: block;    height:48px;margin:0 5px 0 5px;text-decoration: none;    width:auto;color:#fff;white-space: nowrap;font-size:16px; font-weight:bold; outline:0; text-transform:uppercase;z-index:0; }

    .sf-menu li a:hover{color:#52d8f6;cursor:pointer; text-decoration:none;}
    .sf-menu li a span {display:block;height:48px; padding-left:3px;}
    .sf-menu li a span span{display:block; height:31px;  padding:17px 12px 0 10px;}
    .sf-menu li.last_item a span span{ height:31px;  padding:17px 22px 0 10px; background:url(../images/menu-selector.jpg) no-repeat bottom right;}


    .sf-menu li a.active,.sf-menu li a:hover.active,.sf-menu li a:visited.active{display: block;text-decoration: none;    width:auto;color:#FFF;height:48px; padding:0; margin:0 0px 0 0px;}
    .sf-menu li a.active span {display:inline-block;background:url(../images/menu-active-left.png) no-repeat top left; height:48px; padding-left:3px; }
    .sf-menu li a.active span span{display:inline-block; background:url(../images/menu-active-right.png) no-repeat right top; height:31px;  padding:17px 17px 0 12px;}

/*LEVEL I VERTICAL I*/

            .sf-menu li ul li { background:#285f6c url(../images/menu-li-arrow.gif    ) no-repeat left center; z-index:0; width:205px;}
            .sf-menu li ul li span{ height:25px; display:block;padding:0 7px 0 7px; margin-top:1px; width:191px;}
            .sf-menu li ul li span a,.sf-menu li ul li span a:visited{width: 162px; height:17px;color: #ffffff;font-size:12px; border-top:1px solid #336773;padding:6px 10px 2px 10px; font-weight:bold; text-transform:none;z-index:0; position: relative; top:-1px;}
            .sf-menu li ul li.first_item  span a{    border-top:none;}
            .sf-menu li ul li.submenu span a {background:url(../images/menu-li-sub-arrow.gif) no-repeat right;}

            .sf-menu li ul li span:hover,.sf-menu li ul li.first_item:hover{background:#1e4c57 url(../images/menu-li-arrow.gif) no-repeat left center;}
            .sf-menu li ul li span a:hover{color: #fff; text-decoration:none;}

/*LEVEL I VERTICAL II*/
                .sf-shadow ul li ul  {padding:5px 0 0 0 ; background:none;}
                .sf-menu li ul li li { background:#1e4c57 url(../images/menu-li-arrow.gif    ) no-repeat left center; z-index:0; width:205px;}
                .sf-menu li ul li li span{ height:25px; display:block;padding:0 7px 0 7px; margin-top:1px; width:191px;}
                .sf-menu li ul li li span a,.sf-menu li ul li li span a:visited{width: 162px; height:17px;color: #ffffff;font-size:12px; border-top:1px solid #295560;padding:6px 10px 2px 10px; font-weight:bold; text-transform:none;z-index:0; position: relative; top:-1px;}
                .sf-menu li ul li.first_item li.first_item span a{    border-top:none;}
                .sf-menu li ul li.submenu li span a {background:none;}

                .sf-menu li ul li li span:hover,.sf-menu li ul li.first_item li.first_item:hover{background:#123f49 url(../images/menu-li-arrow.gif) no-repeat left center;}
                .sf-menu li ul li li span a:hover{color: #fff; text-decoration:none;}
